form{
    width: 350px;
    height: 60px;
    border: 1px solid white;
}
.inputText{
    width: 200px;
    height: 25px;
    background-color: slateblue;
    color: black;
}
.inputSubmit{
    height: 31px;
    width: 80px;
    margin-left: 1px;
    padding-bottom: 3.25px;
    border-top-right-radius:10px ;
    border-bottom-right-radius: 10px;
    background-color: slateblue;
    margin-top: 2
}
